.firstview
  / アイコンの段
  .container
    .heading
      %h2 Paparazziとは？
    .row
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .icon
          %center
            %img.img-responsive{:alt => "responsive image", :src => "photo/iphone.png"}/
        %h4.txt-contents{:align => "center"} 気になるブランドのコレクションの会場で撮影された写真を
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .icon
          %center
            %img.img-responsive{:alt => "responsive image", :src => "photo/instagram_icon.png"}/
        %h4.txt-contents{:align => "center"} Instagramで
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .icon
          %center
            %img.img-responsive{:alt => "responsive image", :src => "photo/eye.png"}/
        %h4.txt-contents{:align => "center"} リアルタイムにまとめてチェック
  / 2段目
  .map
  / 3段目
  .lookbrandlist
    %center
      %h3 Paparazziを使ってみよう！
    %center
      %a.button{:href => "#"} ブランド一覧を見る