@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "events"
@import "firstview"
@import "firstview"
@import "contact"
@import "brands/index"
@import "brands/show"
@import "brands/new"

/*ヘッダー設定*/
.navbar
  border-radius: 0
  margin-bottom: 0px

/*フッター設定*/
.footer
  height: 100px
  margin: 0 auto
  background-color: #F0EA40

/* レスポンシブ対応*/
@media (max-width: 1000px)
@media (max-width: 800px)
  .container
    height: auto
  .gmap
    height: auto
    width: auto
@media (max-width: 500px)
  .container
    height: auto
  .img-responsive
    width: 40%
  .gmap
    width: auto
    height: auto
  .map
    padding: 30px 0px
    width: 100%
    height: auto
    #map
      width: 80% !important
      height: 250px !important
      margin: 0 auto

