/ パンくずリスト
.container2
  %ul.breadcrumb
    %li
      = link_to 'トップ', root_path
    %li
      = link_to 'ブランド一覧', brands_path
    %li.active 作成する
.contants
  %h3 New brand
  %br/
  = render 'form'
  %br/
  = link_to 'Back', brands_path, class: "btn btn-default"
  %h3 Brands List