/ パンくずリスト
.container2
  %ul.breadcrumb
    %li
      = link_to 'トップ', example_index_path
    %li
      = link_to 'ブランド一覧', brands_path
    %li.active 作成する

%h1 New brand

= render 'form'

= link_to 'Back', brands_path

