/ パンくずリスト
.container2
  %ul.breadcrumb
    %li
      = link_to 'トップ', example_index_path
    %li
      =link_to 'ブランド一覧', brands_path
    %li.active
      = @brand.name

  = link_to 'new', new_brand_event_path(@brand), class: "btn btn-default"
